Source: thermald
Section: admin
Maintainer: Lucas de Castro Borges <lucas@gnuabordo.com.br>
Standards-Version: 4.7.4
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               systemd-dev,
	       autoconf-archive,
               gtk-doc-tools,
               libupower-glib-dev,
               libevdev-dev,
               libglib2.0-dev,
               libdbus-1-dev,
               libxml2-dev
Homepage: https://github.com/intel/thermal_daemon
Vcs-Git: https://salsa.debian.org/debian/thermald.git
Vcs-Browser: https://salsa.debian.org/debian/thermald

Package: thermald
Architecture: i386 amd64 armhf arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thermal monitoring and controlling daemon
 Thermal Daemon is a Linux daemon for monitoring and
 controlling platform temperatures. Once the system
 temperature reaches a certain threshold, the Linux daemon
 activates various cooling methods to try to cool the system.
