#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all
include /usr/share/dpkg/default.mk

override_dh_update_autotools_config:
	mkdir -p m4
	aclocal --install
	gtkdocize --copy --flavour no-tmpl

override_dh_installinit:
	dh_installinit --error-handler=true

%:
	dh $@
